<div class="container">
    <div class="content-container">
        <div class="section" *ngFor="let section of sections">
            <div class="slider" *ngIf="section.slide===true">
                <!--  -->
            <div class="swiper" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let slide of section.slideImg">
                        <img src="{{slide.url}}" alt="slide-not-found">
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!--  -->
            </div>
            <div class="banner-picture-wrap">
                <img class="banner-picture" *ngIf="section.slide ===!true" src="{{section.img}}" alt="">
            </div>
            <div class="line-container">
                <p *ngFor="let line of section.texts.split('.')" [style.padding-bottom]="line.length==0? 0:'.5rem'">
                    {{line}}
                </p>
            </div>
            <h1>{{section.showtitle}}</h1>
            <div  class="cards-container">
                <app-card *ngFor="let card of section.cards" [card] ='card' [atHome]="isAtHome"></app-card>
            </div>
        </div>
        <div class="bottom-container">
            <div class="img-wrap">
                <img src="/assets/img/home/footer/f1.webp" alt="">
            </div>
            <div class="img-wrap">
                <img src="/assets/img/home/footer/f2.webp" alt="">
            </div>
            <div class="img-wrap">
                <img src="/assets/img/home/footer/f3.webp" alt="">
            </div>
            <div class="img-wrap">
                <img src="/assets/img/home/footer/f4.webp" alt="">
            </div>
    
        </div>

        <div class="bottom-spacing"></div>
    </div>

</div>